#wrapper
  #header
    img(src = 'images/logo.jpg')
    button.green Download
  p We use a <a href = "javascript:$('#dialog').open();">super simple markup language</a> to help you generate a beautiful HTML resume.
  #leftColumn.column
    #edit.textdiv(contenteditable="true")
    .subtext EDIT
  #rightColumn.column
    #preview.textdiv
      .info
      p Jobs
      .jobs
      p Education
      .education
      p Projects
      .projects
      p Skills
      .skills
    .subtext PREVIEW
