#wrapper
	#test
		#header= title
		p Welcome to #{title}
		a test
	#edit.textdiv(contenteditable="true")
		//input#edit.textbox
		p test1
		p test2
		p test3
	#preview.textdiv
		//input#preview.textbox
		p preview1
		p preview2
		p preview3