body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #D6F5F8;
}

a {
  color: #00B7FF;
  cursor: pointer;
}
a:hover {
	color: #009CDF;
}
div {
	position: relative;
	display: block;
}
div#header {
	font-size: 75px;
	margin-bottom: 12px;
}
div#wrapper {
	margin: 0px auto;
}
div#leftColumn {
	float: left;
	border: 2px dashed #ccc;
	background-color: #fff;
}
div#rightColumn {
	float: right;
	border: 2px solid #ccc;
	background-color: #fefefe;
}
div .column {
	height: 750px;
	width: 45%;
	margin-bottom: 70px;
	border-radius: 7px;
}
div .textdiv {
	height: 100%;
	padding: 50px;
}
div#edit {
	
}
div#preview {
	
}
div .subtext {
	text-align: center;
	font-size: 50px;
	opacity: 0.2;
	width: 100%;
	position: absolute;
	top: 20px;
	left: 0;
}
div .subtext:hover {
	/* cursor: default; */
}