body {
  font: 20px Helevtica Neue, Helvetica, Arial, sans-serif;
  font-weight: 100;
  height: 100%;
}

a {
  color: #00B7FF;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
	color: #009CDF;
}

button.green {
  float: right;
}

div {
	position: relative;
	display: block;
}
div#header {
	font-size: 75px;
	margin-bottom: 12px;
}
div#wrapper {
	height: 100%;
	margin: 0px auto;
	width: 960px;
}
div#leftColumn {
	float: left;
	border: 2px dashed #ccc;
	background-color: #fff;
}
div#rightColumn {
	float: right;
	border: 2px solid #ccc;
	background-color: #fefefe;
}
div .column {
	width: 49%;
	height: 600px;
	margin-bottom: 70px;
	border-radius: 7px;
	overflow: scroll-y;
}
div .textdiv {
	padding: 50px;
	overflow: auto;
}
div#edit {
  outline: none;
  font-family: monospace;
  height: 100%;
  overflow: auto;
	
}
div#preview {
	
}
div .subtext {
	pointer-events: none;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	text-align: center;
	font-size: 75px;
	opacity: 0.2;
	width: 100%;
	position: absolute;
	top: 20px;
	left: 0;
}
div .subtext:hover {
	/* cursor: default; */
}