body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #D6F5F8;
}

a {
  color: #00B7FF;
  cursor: pointer;
}
a:hover {
	color: #009CDF;
}
div {
	position: relative;
	display: block;
}
div#header {
	font-size: 75px;
	margin-bottom: 12px;
}
div#wrapper {
	margin: 0px auto;
}
div .textdiv {
	border: 1px dashed #ccc;
	border-radius: 7px;
	padding: 20px 20px;
	width: 45%;
	height: 750px;
	margin-bottom: 70px;
}
div#edit {
	float: left;
	border: 2px dashed #ccc;
	background-color: #fff;
}
div#preview {
	float: right;
	border: 2px solid #ccc;
	background-color: #fefefe;
}